<p>vehicles works!</p>

<input type="text" [(ngModel)]="term" (keyup)="filter()">




<label for="">Column :</label>
    <select name="" id="" [(ngModel)]="column">
    <option>id</option>
    <option>Vehicle</option>
    <option>manufacturer</option>
    <option>model</option>
    <option>type</option>
    <option>fuel</option>
    <option>color</option>
    <option>cost</option>
</select>
<label for="">Order</label>
<select name="" id="" [(ngModel)]="order">
    <option value="asc">Ascending</option>
    <option value="desc">Descending</option>
</select>
<button (click)="sort()">Sort</button>

<input type="text" name="" id="" [(ngModel)]="limit">
<input type="text" name="" id="" [(ngModel)]="page">
<button (click)="hit()">Search</button>



<table border="2">
    <thead>
        <tr>
            
            <th>Vehicle</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Type</th>
            <th>Fuel</th>
            <th>Color</th>
            <th>Image</th>
            <th>Cost</th>
            <th>ID</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.Vehicle}}</td>
            <td>{{vehicle.manufacturer}}</td>
            <td>{{vehicle.model}}</td>
            <td>{{vehicle.type}}</td>
            <td>{{vehicle.fuel}}</td>
            <td>{{vehicle.color}}</td>
            <td><img src="{{vehicle.image}}" alt="" height="50px" width="50px"></td>
            <td>{{vehicle.cost}}</td>
            <td>{{vehicle.id}}</td>
            <td><button (click)="delete(vehicle.id)">Delete</button></td>
            <td><button (click)="view(vehicle.id)">View</button></td>
            <td><button (click)="edit(vehicle.id)">Edit</button></td>
        </tr>
    </tbody>
</table>
