<p>bankaccounts works!</p>

<input type="text" [(ngModel)]="ram" (keyup)="filter()">




<label for="">Column</label>
<select name="" id="" [(ngModel)]="column">
<option>account_name</option>
<option>available_balance</option>
<option>account_number</option>
<option>city</option>
<option>id</option>
</select>
<label for="">Order</label>
<select name="" id="" [(ngModel)]="order">
    <option value="asc">Ascending</option>
    <option value="desc">Descending</option>
</select>
<button (click)="sort()">Sort</button>

<input type="number" name="" id="" [(ngModel)]="limit" >
<input type="number" name="" id="" [(ngModel)]="page" >
<button (click)="hit()">Search</button>




<table border="2">
    <thead>
        <tr>
            <th>Account Name</th>
            <th>Available Balance</th>
            <th>Account Number</th>
            <th>City</th>
            <th>Profile Picture</th>
            <th>ID</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bankaccount of bankaccounts">
            <td>{{bankaccount.account_name}}</td>
            <td>{{bankaccount.available_balance}}</td>
            <td>{{bankaccount.account_number}}</td>
            <td>{{bankaccount.city}}</td>
            <td><img src="{{bankaccount.profie_picture}}" alt="" height="50px" width="50px"></td>
            <td>{{bankaccount.id}}</td>
            <td>
                <button (click)="view(bankaccount.id)">View</button>
                <button (click)="edit(bankaccount.id)">Edit</button>
            </td>
        </tr>
    </tbody>
</table>
