<div class="parent">
    <div class="child">
        <div class="ram">
            <h1>LOGIN</h1>
            <form [formGroup]="loginForm" action="">
        <label for="">Login ID : </label>
        <input type="email" placeholder="Enter Mail ID" formControlName="email" >
        <br>
        <label for=""> Password : </label>
        <input type="password" placeholder="Enter Password" formControlName="password">
        <br>
        <button (click)="login()" >Submit</button>
    </form>
</div>
    
    </div>
</div>




