<div class="parent">
    <div class="child">
        <div class="top">
            <div class="left">
                <h3>FLIPKART</h3>

<input type="text" placeholder="Search" [(ngModel)]="ram" (keyup)="filter()">

<button id="freedelivery" (click)="freedelivery()">Only Free Delivery</button>
<br>
<br>
<button class="HL" (click)="PHL()">Price High to Low</button>  
<button class="HL" (click)="PLH()">Price Low to High</button>  
<button class="HL" (click)="RHL()">Ratings High to Low</button>  
<button class="HL" (click)="RLH()">Ratings Low to High</button>
<br>
<br>
<button class="Dis" (click)="discount()">Apply 25% Discount</button>  <button class="Dis" (click)="delcharges()">Price With Delivery Charges</button>
<br>
<br>
<button class="Total" (click)="total()" >Total Price</button>
 <button class="Total" (click)="cartitems()">Total Cart Iems</button>
 
            </div>
            <div class="right">

                <label for="">Name : </label>
                <input type="text" >
                <br>
                <br>
                <label for="">Price : </label>
                <input type="number" >
                <br>
                <br>
                <label for="">Raings :</label>
                <input type="number" >
                <br>
                <br>
                <label for="">Free Delivery : </label>
                <input type="radio" name="srikant" id="yes">
                <label for="yes">Yes</label>
                <input type="radio" name="srikant" id="no">
                <label for="no">No</label>
                <br>
                <br>
                <button class="art">Add to Cart</button>
            </div>
        </div>
        <div class="bottom">
            <table border="1" [cellPadding]="10" [cellSpacing]="0">
                <thead>
                    <tr>
                        <th>S NO.</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Rating</th>
                        <th>Free Delivery</th>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products let i=index">
                        <td>{{i+1}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.rating}}
                           <app-ratings [rating]="product.rating"></app-ratings>
                        </td>
                        <td>{{product.freeDelivery}}</td>
                        <td><button id="delete" >Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
