<div class="parent">
    <div class="left">
        <H1>My Website</H1>
        <hr>
        <a routerLink="home">Home</a>
        <a routerLink="welcome">Welcome</a>
        <a routerLink="data-binding">Data  Binding</a>
        <a routerLink="calculator">Calcultor</a>
        <a routerLink="rectangle">Rectangle</a>
        <a routerLink="circle">Circle</a>
        <a routerLink="bmi">BMI</a>
        <a routerLink="dice">Dice</a>
        <a routerLink="directives-pipes">Directives-Pipes</a>
        <a routerLink="employers">Employees</a>
        <a routerLink="flipkart">Flipkart</a>
        <a routerLink="vehicles">Vehicles</a>
        <a routerLink="bankaccounts">Bank Accounts</a>
        <a routerLink="lipkart">Flipkart Plus</a>
        <a routerLink="mail">Mail</a>
        <a routerLink="create-vehicle">Create Vehicle</a>
        <a routerLink="create-bank">Create Bank</a>
        <a routerLink="identity-card">ID Card</a>
        <a routerLink="createidentity-card">Create ID Card</a>
        <a routerLink="memes">Memes</a>
        <hr>
    
    <button (click)="logout()">logout</button></div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
    </div>
